*{
    margin: 0%;
    padding: 0%;
}
.panoramica{
    object-fit: contain;
    width: 100%;
}
.laterales{
    background-color: /*#bababa*/black;
}
.card-img-top{
    margin-top: 0.7rem;

}
.cardcontain{
object-fit: contain;
}