.tamañodiv{
    width: 100px;
    height:100px;
    
}
.fondo1{
    background-color: aliceblue;
    
}
.fondo2{
    background-color:antiquewhite;
}
.fondo3{
    background-color:aquamarine;
}
.fondo4{
    background-color:bisque;
}
.fondo5{
    background-color:blueviolet;
}
.fondo6{
    background-color:blue;
}