*{
    margin-left: 1%;
}
.contenedor1{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 0,5%;
    padding-bottom: 0,5%;
    padding-left: 1%;
    border:solid blue;
}
.contenedor2{
    border: solid gray;
    padding-left: 0,5%;
    margin-bottom: 1%;
}
.contenedorlista{
    border: solid green;
    margin-top: 1%;
    margin-bottom: 1%;
}
.lista{
    margin-top: 0;
    margin-bottom: 0%;
}
.contenedor3{

}